{% load static %}

<link rel="icon" type="image/png" sizes="16x16" href="{% static "main/favicon/favicon-16x16.png" %}">

<link rel="stylesheet" type="text/css" href="{% static 'main/css/body_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'main/css/task_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'main/css/menu_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'products/css/products_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/detail_product_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/add_products_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'basket/css/basket_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/css/users_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'main/css/messages_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/pagination_styles.css' %}">