{% extends 'base.html' %}

{% block content %}

    <div class="wrapper-product">
        <!-- messages -->
        {% include 'inc/messages.html' %}
        
        <h2>{{ title|safe }}</h2>

        <div class="wrapper-img">
            <img src="{{ product.image_url }}" alt="Image Description">
        </div>

        <ul class="product">
            <li>
                <span class="product-label">Link:</span>
                <span class="product-info"><a href="{{ product.url }}" target="_blank">click here</a></span>
            </li>
            <li>
                <span class="product-label">ID:</span>
                <span class="product-info">{{ product.product_id }}</span>
            </li>
            <li>
                <span class="product-label">Name:</span>
                <span class="product-info">{{ product.name|safe }}</span>
            </li>
            <li>
                <span class="product-label">Brand:</span>
                <span class="product-info">{{ product.brand|safe }}</span>
            </li>
            <li>
                <span class="product-label">Category:</span>
                <span class="product-info">{{ product.category }}</span>
            </li>
            <li>
                <span class="product-label">Base Price:</span>
                <span class="product-info">{{ product.base_price }} $</span>
            </li>
            <li>
                <span class="product-label">Final Price:</span>
                <span class="product-info">{{ product.final_price }} $</span>
            </li>
            <li>
                <span class="product-label">Savings Price:</span>
                <span class="product-info">{{ product.savings_price }} $</span>
            </li>
            <li>
                <span class="product-label">Description:</span>
                <span class="product-info">{{ product.short_description|safe }}</span>
            </li>
        </ul>

        <form action="{% url 'baskets:add' product_id=product.product_id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ product.name }}">
            <input type="hidden" name="price" value="{{ product.final_price }}">
            <input class="button-add-product-basket" type="submit" value="Add To Basket">
        </form>

    </div>



{% endblock %}